@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Courgette', cursive;
}
body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      gap: 30px;
      background: #eee;
}
.drop {
      position: relative;
      width: 150px;
      height: 150px;
      /* background: #ccc; */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5em;
      color: #333;
      text-shadow: -2px -2px 5px #fff; 
      /* Đổ bóng cho text: 
      -2px :sang trái
      -2px: lên trên
      5px: độ blur
      màu đổ */

      filter: drop-shadow(4px 4px 10px #fff);  /*Lọc sáng màu sắc = > x = 4px, y = 4px, độ blur = 10px, màu trắng*/
      
      box-shadow: 
      inset 10px 10px 10px rgba(0, 0, 0, 0.05),
      10px 10px 10px rgba(0, 0, 0, 0.05),
      10px 10px 10px rgba(0, 0, 0, 0.05),
      inset 10px 10px 10px rgba(0, 0, 0, 0.05);
      /* inset: lót trong
      10px: đổ bóng từ trái sang
      10px: đổ bóng trên xuống
      10px độ blur
      màu */
}

.drop::before {
      content: "";
      position: absolute;
      top: 35px;
      left: 25px;
      background: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      filter: blur(2px);
}
.drop::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 50px;
      background: #fff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      filter: blur(2px);
}

.drop p ion-icon {
      color: #ff5353;
      font-size: 2em;
      margin-top: 20px;
}
span {
      font-size: 3em;
}